body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Cambia si usas un color sólido */
    background-image: url('background.jpg'); /* Cambia 'background.jpg' por la imagen de fondo */
    background-size: cover; /* Ajusta para que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en la página */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura del fondo para que ocupe toda la pantalla */
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

#titulo {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: 150px;
}

.math-text {
    text-align: left;
    font-size: 28px;
    line-height: 1.5;
    font-weight: bold;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

label, input {
    display: block;
    width: 100%;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 48%;
}

button:hover {
    background-color: #0056b3;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
