body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#titulo {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

label, input, button {
    display: block;
    width: 100%
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
}

/* Estilo para alinear las etiquetas y los inputs */
.input-group {
    display: grid; /* Usa un diseño de cuadrícula */
    grid-template-columns: auto auto; /* Dos columnas: etiquetas e inputs */
    align-items: center; /* Alinea verticalmente los elementos */
    gap: 10px; /* Espacio entre los elementos */
    margin-bottom: 15px; /* Espacio entre filas */
}

.input-group label {
    text-align: right; /* Alinea las etiquetas a la derecha */
    margin-right: 5px; /* Espaciado entre la etiqueta y el input */
}

.input-group input {
    padding: 5px; /* Espaciado interno del input */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
    box-sizing: border-box; /* Asegura que el padding no afecta el ancho */
}
